#login {
  margin-bottom: 20px;
}

.row {
  .input-field {
    input:focus {
      border-bottom: 1px solid #00bcd4 !important;
      box-shadow: 0 1px 0 0 #00bcd4 !important;
    }
    input:focus + label {
      color: #00bcd4 !important;
    }
    margin-bottom: -10px;
  }
}

.btn {
  margin-top: 5px;
  margin-bottom: 20px;
}